.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #24292f;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.search-input {
  background-color: #3f4449;
  border-color: transparent;
  border-radius: 3px;
  width: 30vw;
  height: 25px;
  outline: none;
  color: #898c8f;
}