.App {
  width: 100vw;
}


.App-header {
  background-color: #24292f;
  width: 100vw;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.App-intro {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  min-width: 310px;
  max-width: 1000px;
}

.github-icon {
  font-size: 30px;
  padding: 10px;
}

.search-input {
  background-color: #3f4449;
  border-color: transparent;
  border-radius: 3px;
  width: 50vw;
  height: 25px;
  outline: none;
  color: #8c8f92;
  max-width: 400px;
}

.Bio {
  width: 20vw;
  height: 70vh;
  min-width: 105px;
  max-width: 300px;
  color: #999999;
  font-size: 1vmax;
}

.Bio h1 {
  font-size: 2vmax;
  color: black;
}

.bio-photo {
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 70%;
}

.Nav {
  width: 58vw;
}

.Nav-bar {
  height: 50px;
  min-width: 100px;
  border-bottom-style: solid;
  border-bottom-color: #8c8f92;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-around;
  max-width: 750px;
  color: #8c8f92;
}

.Nav-bar div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}

.Nav-bar div:hover {
  border-bottom-style: solid;
  border-bottom-color: #8c8f92;
  border-bottom-width: 2px;
}

.results {
  margin-top: 6%;
}

.Contributions {
  width: 100%;

}

.tweet {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-top: 10px;
}

.tweet button {
  color: white;
  background-color: grey;
  border-radius: 5px;
  outline: none;
}

.author{
  display: flex;
  align-items: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: grey;
  justify-content: space-around;
  width:100%;
  height:30px;
  background-color: #242930;
}

.month {
  height: 50px;
  width: 50px;
}

.status-light-green{
  height: 1px;
  width: 1px;
  background-color: green;
}

.status-dark-green{

}

.Events {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Events p {
  display: flex;
  justify-content: center;
}

.fan-info {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.fan-name {
  display: flex;
  justify-content: center;
  font-size: 2vmax;
  color: black;

}
.f-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #b8e986;
}

.Main {
  height: 90vh;
  width: 90vw;
  background-image: url('./photos/stalker3.jpg');
  background-size: 300px 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.Followers{
  width: 100%;
}
.stats {
  font-weight: bold;
}
.map{
  width: 100%;
  max-width: 800px;
}
.map-guide {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.map-guide div {
  margin: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more {
  width: 20px;
  height: 20px;
  background-color:#00a43c ;
  display: flex;
  justify-content: center;
}

.most {
  width: 70px;
  height: 30px;
}
.most div {
  width: 20px;
  height: 20px;
  background-color:#006728;
}
.middle {
  width: 20px;
  height: 20px;
  background-color: #59d36e;
  display: flex;
  justify-content: center;
}
.least {
  width: 20px;
  height: 20px;
  background-color: #bbec88;
}
.none div{
  width: 20px;
  height: 20px;
  background-color: #d3d3d3;
}

.none {
  width: 70px;
  height: 30px;
}
.popularFollower {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}
.most-pop {
  margin-bottom: 20px;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  color: #00af3d;
}
