body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  width: 100vw;
}
.App-header {
  background-color: #24292f;
  width: 100vw;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-intro {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  min-width: 310px;
}
.recharts-wrapper {
  width: 50%;
  height: 50%;
  max-width: 100%;
  max-height: 350px;
  min-height: 200px;
}
.recharts-surface {
  width: 100%;
}
.us-state-map {
  width: 50vw;
  height: 50vh;
  max-width: 700px;
  max-height: 350px;
  min-height: 200px;
}
.github-icon {
  font-size: 30px;
  padding: 10px;
}
.g-events {
  font-weight: bold;
}
.search-input {
  background-color: #3f4449;
  border-color: transparent;
  border-radius: 3px;
  width: 50vw;
  height: 25px;
  outline: none;
  color: #8c8f92;
  max-width: 400px;
}
.follower-bio {
  width: 15vw;
  /*height: 50vh;*/
  min-width: 260px;
  max-width: 400px;
  color: #999999;
  font-size: 1vmax;
  padding: 1px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.follower-bio a {
  text-decoration: none;
}
.h-link {
  text-align: center;
  font-size: 1.4em;
  color: #333333;
  margin-bottom: 3px;
  text-decoration: none;
}
.follower-bio span {
  color: black;
}
.Bio {
  width: 20vw;
  height: 70vh;
  min-width: 305px;
  max-width: 400px;
  color: #999999;
  font-size: 1vmax;
  padding: 1px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bio-info {
  width: 70%;
}
.bio-info h3 {
  margin-top: 5px;
}
.follower-bio .bio-info h3 {
  margin-top: 0px;
}
.follower-bio-info h3 {
  margin-top: 0px;
}
.bio-info h1 {
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}
.Bio h1 {
  font-size: 2vmax;
  color: black;
  display: flex;
  justify-content: center;
}
.bio-photo {
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 80%;
  min-height: 300px;
  max-height: 310px;
  border-radius: 3px;
}
.t-name {
  margin-bottom: 5px;
  font-size: 1.7em;
  color: black;
}
.follower-bio-photo {
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 80%;
  min-height: 180px;
  max-height: 180px;
  border-radius: 3px;
}
.Bio p {
  overflow: hidden;
  display: flex;
  width: 100%;
}
.Nav {
  width: 50vw;
}
.Nav-bar {
  height: 50px;
  min-width: 100px;
  border-bottom-style: solid;
  border-bottom-color: #8c8f92;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-around;
  max-width: 750px;
  color: #8c8f92;
}
.Nav-bar div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}
.Nav-bar div:hover {
  border-bottom-style: solid;
  border-bottom-color: #8c8f92;
  border-bottom-width: 2px;
}
.results {
  margin-top: 6%;
}
.Contributions {
  width: 100%;
}
.tweet {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-top: 10px;
}
.twitter-share-button {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  color: green;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
}
.tweet button {
  color: white;
  background-color: grey;
  border-radius: 5px;
  outline: none;
}
.author {
  display: flex;
  align-items: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: grey;
  justify-content: space-around;
  width:100%;
  height:30px;
  background-color: #242930;
}
.month {
  height: 50px;
  width: 50px;
}
.status-light-green{
  height: 1px;
  width: 1px;
  background-color: green;
}
.Events {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Events p {
  margin-bottom: 20px;
}
.fan-info {
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}
.fan-name {
  display: flex;
  justify-content: center;
  font-size: 2vmax;
  color: black;
  font-weight: bold;
}
.f-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #b8e986;
}
.Main {
  height: 90vh;
  width: 90vw;
  background-image: url('./photos/stalker3.jpg');
  background-size: 300px 200px;
  background-position: center;
  background-repeat: no-repeat;
}
.tweet {
  background-color: white;
  border-width: 0px;
  font-weight: bold;
  color: green;
  font-size: 1em;
}
.twitter-share-button {
  text-decoration-line: none;
  background-color: white;
}
.Followers {
  width: 100%;
}
.stats {
  font-weight: bold;
}
.map{
  width: 100%;
  max-width: 800px;
}
.map-guide {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.map-guide div {
  margin: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more {
  width: 20px;
  height: 20px;
  background-color:#00a43c ;
  display: flex;
  justify-content: center;
}
.most {
  width: 70px;
  height: 30px;
}
.most div {
  width: 20px;
  height: 20px;
  background-color:#006728;
}
.middle {
  width: 20px;
  height: 20px;
  background-color: #59d36e;
  display: flex;
  justify-content: center;
}
.least {
  width: 20px;
  height: 20px;
  background-color: #bbec88;
}
.none div{
  width: 20px;
  height: 20px;
  background-color: #d3d3d3;
}
.none {
  width: 70px;
  height: 30px;
}
.popularFollower {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10%;
}
.most-pop {
  margin-bottom: 20px;
}
.top{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #00af3d;
  color: black;
}
.Loading h1 {
  font-size: 6vw;
}
.sum {
  width: 90%;
}
.search-button{
  color: white;
  background-color:transparent;
  font-size: 1em;
  border-width: 0px;
}
.incorrect {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  align-items: center;
  font-size: 5vw;
}
@media screen and (min-width: 1600px) {
  .results {
    max-width: 700px;
  }
  .t-name {
    font-size: 30px;
  }
  .bio-info {
    font-size: 15px;
  }
}
@media screen and (max-width: 1016px) {
  .Bio {
    height: 200px;
  }
  .bio-photo {
    min-height: 170px;
  }
  .bio-info {
    width: auto;
    display: none;
  }
  .Nav {
    margin-top: 10px;
    font-size: 10px;
    width: 70vw;
  }
  .map {
    display: flex;
    justify-content: center;
  }
  .us-state-map {
    height: 23vh;
  }
  .follower-bio {
    /*height: 40vh;*/
  }
}
@media screen and (max-width: 414px) {
  .f-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
  }
  .Bio {
    width: 300px;
  }
  .Nav {
    width: 270px;
  }
  .map {
    display: flex;
    justify-content: center;
  }
}
@media screen and (width: 320px) {
  .Bio {
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  .bio-info {
    height: 10px;
    display: none;
  }
}
